<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="EndPointConfiguration">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfServiceLibrary1.Service1" behaviorConfiguration="mexBehavior">
        <endpoint address="/Service1"
          binding = "netTcpBinding"
          bindingConfiguration="EndPointConfiguration"
          contract="WcfServiceLibrary1.IService1" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:81" />
            <add baseAddress="net.tcp://localhost:82" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>