<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfServiceLibrary1.Service1" behaviorConfiguration="mexBehavior">
        <endpoint address="/Service1"
          binding = "basicHttpBinding"
          contract="WcfServiceLibrary1.IService1" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:83" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>